.w3-row > a {
    display: inline-block;
    width: 33.43%;
    margin: -4px !important;
    text-align: center;
    background-color: white;
    border-radius: 0px !important;
    color: darkgrey !important;
    border-bottom: 10px solid;
    border-right: 2px solid lightgray;

}
a.selected {
    background-color: #ff9f3f;
    color: white !important;
    border-bottom: 10px solid darkorange;
    transition: background .75s ease-in-out;
    -moz-transition: background .75s ease-in-out;
    -webkit-transition: background .75s ease-in-out;
}
a.selected:hover{
    background-color: darkorange;
    transition: background .75s ease-in-out;
    -moz-transition: background .75s ease-in-out;
    -webkit-transition: background .75s ease-in-out;
}
a.selected:hover div{
    text-decoration: none;
}
.w3-container {
    background-color: white;
    display: none;
    color: black;
    padding: 50px 10%;
}

.w3-container.selected {
    display: block;
    margin-bottom: -100px;
}

.materials > a, .colors > a, .handlers > a {
    width: 180px;
    height: 180px;
    padding: 0px !important;
    cursor: pointer;
}

.searchbox-item {
    width: 100%;
    height: 100%;
    background-size: cover !important;
    background-position: center center !important;
    text-align: center;
}

.searchbox-item span {
    position: relative;
    top: 140px;
    display: block;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
}

.preloader {
    position: absolute;
    left: 48%;
    display:initial;
    background-color: rgba(255,165,0,0.70) !important;
    border-radius: 2px;
    padding: 30px;
    opacity:1;
    margin-top: 150px;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}
.preloader.hide{
    opacity:0;
    -webkit-animation: fadeout 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeout 2s; /* Firefox < 16 */
    -ms-animation: fadeout 2s; /* Internet Explorer */
    -o-animation: fadeout 2s; /* Opera < 12.1 */
    animation: fadeout 2s;
}

.search-tabs-box {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    border: 2px solid lightgray;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.85);
}
}

.searchbox-item.selected {
    border: 5px solid #f47b3f;
}

ul.nav.nav-tabs li.active a {
    background-color: #f47b3f;
    color: white;
}

ul.nav.nav-tabs li a {
    background-color: lightgray;
}
.tab-content {
    padding: 15px;
}

.nav.nav-tabs li a {
    border-radius: 0px;
    border-right: 1px solid;
}
.not-active {
    pointer-events: none;
    cursor: default;
}
@media (max-width:767px){
    .search-tabs-box {
        width: 100%;
        padding: 20px;
        background-color: white;
    }
    .tab-content {
        margin-top:20px;
         padding: 0px;
    }
    .materials > a, .colors > a, .handlers > a {
        display: inline-block;
        width: 33%;
        margin-right: 0 !important;
    }
}
@media (max-width:452px){
    .materials > a, .colors > a, .handlers > a {
        display: inline-block;
        width: 50%;
        margin-right: 0 !important;
    }
}

.visual .searchbox-item {
    display: inline-block;
    width: 31%;
    height: auto;
    min-height: 200px;
    margin: 1%;
}
.conclusions {
    text-align: center;
}
.conclusion button:hover, .conclusion button:active {
    font-size: 22px !important;
}
h2.box-title {
    color: black;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: larger;
    background-color: #f3f2f2;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}